.mt-100 {
  margin-top: 100px;
}

.mt-150-mb-20 {
  margin-top: 150px;
  margin-bottom: 20px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.bg-col-e8e8e8 {
  background-color: #e8e8e8;
}

.pos-rel {
  position: relative;
}

.w-100 {
  width: 100%;
}

.cart-btn {
  // position: absolute;
  // right: 15px;
  // bottom: 0px;
  background-color: #e8e8e8;
  color: #000000;
  border: 0;
  border-radius: 0;
  position: absolute;
  right: 15px;
  bottom: -8px;

  img {
    width: 25px;
  }
  &:hover,
  &:focus {
    background-color: #e8e8e8;
    color: #000000;
    box-shadow: none;
    outline: none;
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    background-color: #e8e8e8;
    color: #000000;
    box-shadow: none;
    outline: none;
  }
}

.bottom-shadow {
  box-shadow: 2px 104px 55px -125px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 2px 104px 55px -125px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 104px 55px -125px rgba(0, 0, 0, 1);
}

.theme-button {
  background-color: #d00256;
  border-color: #d00256;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  border-radius: 0;
  opacity: 0.8;
}

.theme-button:hover {
  opacity: 1;
  background-color: #d00256;
  border-color: #d00256;
}

.theme-button:not(:disabled):not(.disabled).active,
.theme-button:not(:disabled):not(.disabled):active,
.show > .theme-button.dropdown-toggle,
.theme-button.focus,
.theme-button:focus {
  background-color: #d00256;
  border-color: #d00256;
  box-shadow: 0 0 0 0.2rem rgb(208 2 86 / 50%);
}

.plp {
  background-color: #e8e8e8;
}

.md {
  display: none;
}

.xs-only {
  display: none;
}

@media only screen and (device-width: 768px) {
  .navbar-nav {
    flex-direction: inherit;
    .nav-link:first-child {
      margin-right: 10px;
    }
  }
  .lg {
    display: none;
  }
  .md {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .main-nav {
    display: none;
  }

  .auth-nav {
    display: none;
  }

  .logo {
    width: 90px !important;
    margin-left: 15px;
  }

  .cart-btn {
    top: -8px;
    bottom: -8px;
    right: -16px;
  }

  .xs-only {
    display: block;
  }

  .xs-hide {
    display: none;
  }
}
