.auth {
  h4 {
    margin-bottom: 25px;
  }
  p {
    font-size: 0.75rem;
  }
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
  }

  input:focus {
    outline: none;
    border-bottom: 2px solid #50dae2;
  }

  label {
    color: #999;
    font-size: 0.9rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -10px;
    font-size: 0.85rem;
    color: #50dae2;
  }
}
